* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  

  
  body {
    font-family: 'Roboto', Arial, sans-serif;
    max-width: 1000px;
    margin: 0 auto; 
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
  
/* Navigation Section */

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem ;
    background-color: #000;
  }

  nav {
    width: 70%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
  }
  
  .nav-links {
    display: flex;
    list-style-type: none;
    
  }
  
  .nav-links li {
    margin-left: 1.5rem;
    
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: #ff5252;
  }

  .hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: #000;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
}

.hamburger:focus {
    outline: none;
}

.bar {
    width: 2rem;
    height: 0.25rem;
    background-color: #fff;
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
}

.nav-links.show {
  display: flex;
  animation: fadeIn 0.5s ease-in-out 1;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

  /* Responsive styles */

  
  @media screen and (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 70px;
      left: 0;
      background-color: #000;
    }
    .nav-links li {
      margin: 1.5rem 0;
      padding-left: 1rem;
    }

    .hamburger{
      display: flex;
    }
    body {
      padding: 0 0rem; 
    }
    section.education ul, section.experiences ul, section.organizations ul {
      padding-left: 2rem;
    }
    section, h2, section.hero {
      box-sizing: border-box;
      padding-left: 1rem;
    }
       
    body .social-links {
      padding-left: 2rem;
    }
  }
.container {
  margin-right: 5%;
}
  
  /* Hero Section */
.hero {
    text-align: left;
    padding: 2rem 0 1.5rem;
  }
  
  .hero h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  
  .name {
    margin-bottom: 1rem;
    color: #000;
    font-weight: 500;
  }

  .social-links {
    display: flex;
    flex-direction: column;
    padding-left: 5rem;
  }
  
  .social-links .links {
    display: inline-block;
    margin-bottom: 3px;
  }

  .social-links a {
    text-decoration: underline;
    font-weight: 500;
    transition: color 0.3s;
    margin-bottom: 10px;

  }
  
  .social-links a:hover {
    color: #ff5252;
  }

  .link {
    text-decoration: underline;
    font-weight: 500;
    transition: color 0.3s;
    margin-bottom: 10px;
  }

  .link:hover {
    color: #ff5252;
  }
  /* Education Section */
.education {
    padding: 0.5rem 0;
  }
  
  .education h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  
  .education h3 {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  .education p {
    margin-bottom: 0.5rem;
  }

  .education ul {
    list-style-type: none;
    padding-left: 5rem;
  }

  .education .description {
    margin-left: 1rem;
    color: #000000;
    line-height: 1.4;
    word-spacing: 3px;
  }

  .years {
    text-align: right;
  }

  .school-info {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
  }

  .more {
    display: none;
  }
  
  .btn-container {
    display: inline;
  }
  
  .see-more-btn {
    background-color: transparent;
    border: none;
    color: #000000;
    cursor: pointer;
    font-weight: 600;
    padding-left: 0;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  .more-container {
    display: inline;
  }
  
  /* Experiences Section */
  .experiences {
    padding: 0.5rem 0;
  }

  .experiences h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .experiences h3 {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  .experiences p {
    margin-bottom: 0.5rem;
  }

  .experiences ul {
    list-style-type: none;
    padding-left: 5rem;
  }

  .experiences .description {
    margin-left: 1rem;
    color: #000000;
    line-height: 1.4;
    word-spacing: 3px;
  }

  .experiences .years {
    text-align: right;
  }

  .experiences .experience-info {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
  }

  .experience-info {
    border-bottom: 1px solid #000;
  }

  /* Organizations Section */
  .organizations {
    padding: 0.5rem 0;
  }

  .organizations h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .organizations h3 {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  .organizations p {
    margin-bottom: 0.5rem;
  }

  .organizations ul {
    list-style-type: none;
    padding-left: 5rem;
  }

  .organizations .description {
    margin-left: 1rem;
    color: #000000;
  }

  .organizations .years {
    text-align: right;
  }

  .organizations .org-info {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    border-bottom: 1px solid #000;
  }

  #back-to-top {
    display: none;
    margin: 0px 1.5rem; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: rgb(0, 0, 0);
    color: #eeeeee;
    cursor: pointer; 
    padding: 8px; 
    border-radius: 50px; 
    font-size: 12px; 
    font-weight: bold;
  }
  
  #back-to-top:hover {
    background-color: #555; 
  }
  

  .footer {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 2.5rem ;
    background-color: #000;
    margin-top: 15px;
    overflow: auto;
    border: none;
  }

  .social-link2 {
    background-color: #D8D8D8;
    color: #333;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin-right: 10px;
    transition: background-color 0.3s ease;
  }

  .social-link2:hover {
    background-color: #333;
    color: #fff;
  }

  .school-info {
    border-bottom: 1px solid #000;
  }